<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Adres: <%=@event.location%></p>
    <p>Event description: <%= @event.description %></p>
    <p>Start time: <%=@event.starts_at %></p>

<h4>About</h4>
<ul class="amenities">
      <li><%= !@event.includes_food ? ("<s>Food</s>").html_safe : "Food" %></li>
      <li><%= !@event.includes_drinks ? ("<s>Drink</s>").html_safe : "Drink" %></li>

    </ul>

  <h4>Category</h4>
    <% @categories.each do |category| %>
    <span class="label label-success"><%= category.name %></span>
  <% end %>

<h4>Photo's</h4>
<% @event.photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end %>
  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
